body {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.nav>li {
    margin-left: 15px;
}

.nav>li>a {
    color: #202020;
    text-decoration: none;
    font-weight: 700;
}

.nav_btn {
    padding: 6px 9px;
    color: white;
    font-weight: 700;
    background: #5528FF;
    border-radius: 5px;
    border: none;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-image: url(../img/logo.svg);
}

.logo_text {
    font-size: 24px;
    color: #202020;
    width: 84px;
    height: 28px;
    font-weight: 700;
}

.title-main {
    font-size: 56px;
    color: #202020;
    font-weight: 700;
}

.text-main {
    font-size: 32px;
    line-height: 1.5;
    color: #4f4f4f;
    width: 741px;
}  

.button {
    padding: 10px 45px;
    color: white;
    font-weight: 400;
    background: #5528FF;
    border-radius: 7px;
    border: none;
    margin-bottom: 100px;
}

.wrap {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}


.page {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.page h2 {
    position: absolute;
    top: -24px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    color: #C2C2C2;
    padding: 5px 15px;
}

.page-top {
    border-top: 1px solid #C2C2C2;
}

.page-center {
    border-top: 1px solid #C2C2C2;
    margin-top: 111px;
}

.page-bottom {
    border-top: 1px solid #C2C2C2;
}

.services-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    margin-top: 109px;
}

.services_img {
    text-align: center;
    flex-basis: 100px;
}

.services_text {
    flex-basis: calc(100% - 100px);
    margin-left: 20px;
}


.services h3 {
    font-size: 28px;
    font-weight: 400;
    color: #000000;
}

.services p {
    font-size: 14px;
    font-weight: 400;
    color: #B2B2B2;
    width: 100%;
    max-width: 309px;
}

.clients {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 25%);
    grid-row-gap: 40px;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 120px;
}

.team {
    display: grid;
    grid-template: repeat(3, 33%) / repeat(3, 33%);
    grid-row-gap: 40px;
    margin-top: 125px;
    margin-bottom: 123px;
}

.team-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.team-item img {
    margin-right: 20px;
}

.team-item>div {
    flex-basis: calc(100% - 100px)
}

.team-item>div>h3 {
    font-size: 28px;
    font-weight: 700;
    color: #202020;
}

.team-item>div>p {
    font-size: 14px;
    font-weight: 400;
    color: #B2B2B2;
    margin-top: -10px; 
}

.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    list-style-type: none;
    padding-left: 0;

}

.social>li {
    margin-left: 15px;
}

.social>li>a {
    color: #B2B2B2;
    text-decoration: none;
    font-size: 24px;
}


@media screen and (max-width: 1200px) {
    .header {
        width: 1140px;
    }
    .page {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .header {
        width: 960px;
    }
    .page {
        width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .header {
        width: 720px;
    }
    .page {
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 540px;
    }
    .page {
        width: 540px;
    }
}

@media screen and (max-width: 575px) {
    .header {
        width: 100%;
    }
    .nav_btn {
        color: white;
        font-weight: 500;
        background: #5528FF;
        border-radius: 5px;
        border: none;
    }
    .nav {
        margin-left: -20px;
    }
    .nav li {
        margin-left: 5px;
    }
    .nav>li>a {
        font-size: 12px;
    }
    .logo_img {
        margin-right: 7px;
        margin-left: -4px;
    }
    .logo_text {
        font-size: 20px;
    }
    .logo_img span {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .page {
        width: 100%;
    }
    .text-main {
        width: 60%;
        font-size: 17px;
        text-align: justify;
        margin-right: auto;
        margin-left: auto;
    }
    .title-main {
        width: 80%;
        font-size: 30px;
        color: #202020;
        font-weight: 700;
        margin-left: auto;
    }
    .wrap {
        width: 100%;
    }
    .button {
        position: relative;
        left: 20%;
        width: 60%;
    }
    .services {
        margin-left: -35px;
    }
    .services_text {
        width: 50%;
    }
    .services_img {
        width: 50%;
    }
    .services_img img {
        height: 40px;
    }
    .services_text {
        margin-left: -15px;
    }
    .services_text h3 {
        font-size: 18px;
    }
    .services_text p {
        font-size: 12px;
    }
    .clients img {
        height: 15px;
    }
    .logo-tripadvisor{
        width: 100px;
    }
    .logo-decos {
        width: 70px;
    }
    .team-item-description h3 {
        font-size: 18px;
    }
    .team-item img {
        margin-right: 5px;
        height: 45px;
    }
    .team-item>div>h3 {
        font-size: 16px;
    }
    .team-item>div>p {
        font-size: 12px;
    }
    .team-item>div {
        margin-right: 100px;
    }
    .footer {
        height: 30px;
    }
}
